.pb-move {
  @include layer(1);
  opacity: 0.75;
  position: fixed;
  pointer-events: none;
}

.pb-move > * {
  position: absolute;
}

.pb-move > *:nth-child(2) {
  transform: rotateZ(-20deg);
}

.pb-move > *:nth-child(3) {
  transform: rotateZ(15deg);
}

.pb-move > *:nth-child(4) {
  transform: rotateZ(-35deg);
}

.pb-move > *:nth-child(5) {
  transform: rotateZ(40deg);
}
