[submodule "lib/spies"]
	path = lib/spies
	url = https://github.com/garysoed/spies.git
[submodule "yuimd"]
	path = yuimd
	url = https://github.com/garysoed/yuimd.git
[submodule "lib/yuimd"]
	path = lib/yuimd
	url = https://github.com/garysoed/yuimd.git
[submodule "doc"]
	path = doc
	url = https://github.com/garysoed/protoboard.wiki.git
