@import 'theme';
@import 'rect';
@import 'main';

pb-r-deck {
  @extend pb-r-rect;
  @extend .pb-card;
}

pb-r-deck > * {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

pb-r-deck::shadow #root {
  position: relative;
}
