@import 'theme';
@import 'main';


pb-r-deck {
  @include region-border();
  @extend .pb-card;
  display: inline-block;
}

pb-r-deck > * {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

pb-r-deck::shadow #root {
  position: relative;
}
