@import 'theme';
@import 'main';

pb-r-hand::shadow #root {
  @include region-border();
  position: relative;
}

pb-r-hand::shadow #content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

pb-r-hand.pb-over #root {
  outline: 6px dashed $color-highlight;
  outline-offset: -3px;

  * {
    pointer-events: none;
  }
}

pb-r-hand > *:hover {
  @include layer(1);
}

pb-r-hand > *:last-child {
  flex-shrink: 0;
}
