@import 'theme';


pb-r-rect > * {
  position: absolute;
}

pb-r-rect::shadow #root {
  @include region-border();
  position: relative;
}

pb-r-rect.pb-over::shadow #root {
  outline: 6px dashed $color-highlight;
  outline-offset: -3px;
}
