@import 'theme';

pb-r-rect {
  @include region-border();
}

pb-r-rect > * {
  position: absolute;
}

pb-r-rect::shadow #root {
  @include trbl-fit();
  position: relative;
}

pb-r-rect.pb-over {
  outline: 6px dashed $color-highlight;
  outline-offset: -3px;
}
