header.main-header {
  align-items: flex-end;
  display: flex;
  padding: 2em;
  z-index: 1;
}

section.main-sidebar {
  overflow: scroll;
  max-width: 300px;
  z-index: 1;
}

section.main-content-scroll {
  overflow: scroll;
}

.main-menu-button {
  align-self: center;
  display: none;
  font-size: 200%;
  padding: 5px;
  margin-right: 20px;
  cursor: pointer;
}

header > .main-header-section {
  flex: 1;
}

section.main-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
}

section.main-main {
  overflow: scroll;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  section.main-sidebar {
    opacity: 0.95;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  section.main-content:not(.expand) section.main-sidebar {
    max-width: 0;
    transition: max-width .2s;
  }

  section.main-content.expand section.main-sidebar {
    max-width: 300px;
    transition: max-width .2s;
  }

  section.main-content.expand section.main-main {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }

  .main-menu-button {
    display: block;
  }
}
