.props {
  padding: 0 2em;
  -webkit-margin-after: 2em;
}

.props:first-child {
  padding-top: 2em;
}

.props > header {
  margin: 0 0 20px;
  font-size: 1rem;
}

.props.deprecated .method-signature {
  text-decoration: line-through;
}
