.sidebar {
  min-width: 200px;
}

.sidebar ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.sidebar li {
  padding: 0 2em 0 4em;
  line-height: 2em;
}

.sidebar li:last-child {
  -webkit-margin-after: 1em;
}

.sidebar h2 {
  text-transform: uppercase;
}
