<!DOCTYPE html>
<html>
<head>
  <base href="../..">
  <title>Component Unit Tests</title>
  <link rel="import" href="test/testbase.html">
  <link rel="import" href="main.html">
</head>
<body>
  <div id="fakeShadowRoot">
    <div id="root"></div>
  </div>

  <script>
    'use strict';

    (function() {
      var Component = pb.component.Component;
      var Utils = pb.Utils;
      var DragDropService = pb.service.DragDrop;

      var expect = chai.expect;
      var _ = spies.Spies;
      var _M = spies.Matchers;
      var _F = spies.Fakes;

      var doc = document.currentScript.ownerDocument;

      describe('Component', function() {
        describe('#config', function() {

          beforeEach(function(done) {
            doc.querySelector('#fakeShadowRoot').innerHTML = '<div id="root"></div>';
            done();
          });

          it('should setup draggable if attribute is specified', function() {
            var rootEl = doc.querySelector('#root');
            var c = new Component();
            c.shadowRoot = doc.querySelector('#fakeShadowRoot');
            
            _.spy(c, 'querySelectorAll').overrideReturn(_F.NodeList([ rootEl ]));
            _.spy(rootEl, 'addEventListener').overrideReturn();
            _.spy(DragDropService, 'dragStart');

            c.config({ draggable: true });

            var isAFunction = _M.isA(Function);
            expect(c.querySelectorAll).calledWith('*[draggable="true"]').at.least(1);
            expect(rootEl.addEventListener).calledWith('dragstart', isAFunction).at.least(1);

            // Now call the drag start handler.
            var event = _.stub(Event);
            event.dataTransfer = _.stub(DataTransfer);
            _.spy(event.dataTransfer, 'setData');

            isAFunction.matchingArgs[0](event);
            expect(event.dataTransfer.effectAllowed).to.be.equal('move');
            expect(DragDropService.dragStart).calledWith(c).at.least(1);
          });

          it('should not setup draggable if attribute is not specified', function() {
            var c = new Component();
            c.shadowRoot = doc.querySelector('#fakeShadowRoot');
            
            c.config({ });

            var isAFunction = _M.isA(Function);
            expect($(doc.querySelector('#root')).attr('draggable')).to.not.exist;
          });

          afterEach(function(done) {
            _.reset();
            done();
          });
        });
      });
    })();
  </script>
</body>