<!DOCTYPE html>
<html>
<head>
  <base href="../..">
  <title>Component Unit Tests</title>
  <link rel="import" href="test/testbase.html">
  <link rel="import" href="main.html">
</head>
<body>
  <script>
    'use strict';

    (function() {
      var Component = pb.component.Component;
      var Utils = pb.Utils;
      var DragDropService = pb.service.DragDrop;

      var expect = chai.expect;
      var _ = spies.Spies;
      var _M = spies.Matchers;
      var _F = spies.Fakes;

      var doc = document.currentScript.ownerDocument;

      describe('Component', function() {
        describe('#config', function() {
          it('should setup draggable if attribute is specified', function() {
            var childEl = doc.createElement('div');
            var c = new Component();
            c.classList = _.stub(DOMTokenList);
            c.attributes = [_F.attr(Component.ATTR_DRAGGABLE, '')];
            c.children = [childEl];
            
            _.spy(childEl, 'addEventListener').overrideReturn();
            _.spy(DragDropService, 'dragStart');

            c.config();

            var dragStartCaptor = _M.isA(Function);
            var dragEndCaptor = _M.isA(Function);
            expect(childEl.addEventListener).calledWith('dragstart', dragStartCaptor).at.least(1);
            expect(childEl.addEventListener).calledWith('dragend', dragEndCaptor).at.least(1);

            // Now call the drag start handler.
            var dragStartEvent = _.stub(Event);
            dragStartEvent.dataTransfer = _.stub(DataTransfer);

            _.spy(c.classList, 'add');

            dragStartCaptor.matchingArgs[0](dragStartEvent);
            expect(dragStartEvent.dataTransfer.effectAllowed).to.be.equal('move');
            expect(c.classList.add).calledWith('pb-dragged').at.least(1);
            expect(DragDropService.dragStart).calledWith(c).at.least(1);

            // Now call the drag end handler.
            _.spy(c.classList, 'remove');

            dragEndCaptor.matchingArgs[0]();
            expect(c.classList.remove).calledWith('pb-dragged').at.least(1);
          });
          it('should not setup draggable if attribute is not specified', function() {
            var c = new Component();
            c.attributes = [];
            
            c.config();

            var isAFunction = _M.isA(Function);
            expect($(doc.querySelector('#root')).attr('draggable')).to.not.exist;
          });
        });

        describe('#setDefaultAttribute', function() {
          var name = 'name';
          var c;
          var $c;

          beforeEach(function(done) {
            c = new Component();
            $c = $(c);
            _.spy(window, '$').overrideReturn($c);
            done();
          });

          it('should set the attribute if not set', function() {
            var value = 'value';
            _.spy($c, 'attr').overrideReturn(undefined);

            c.setDefaultAttribute(name, value);
            expect($c.attr).calledWith(name).at.least(1);
            expect($c.attr).calledWith(name, value).at.least(1);
          });
          it('should be noop if the attribute is set', function() {
            var newValue = 'newValue';
            _.spy($c, 'attr').overrideReturn('value');

            c.setDefaultAttribute(name, newValue);
            expect($c.attr).calledWith(name).at.least(1);
            expect($c.attr).calledWith(name, newValue).to.be.equal(0);
          });
          it('should pay attention to attribute set to false', function() {
            var newValue = 'newValue';
            _.spy($c, 'attr').overrideReturn(false);

            c.setDefaultAttribute(name, newValue);
            expect($c.attr).calledWith(name).at.least(1);
            expect($c.attr).calledWith(name, newValue).to.be.equal(0);
          });
        });

        afterEach(function(done) {
          _.reset();
          done();
        });
      });
    })();
  </script>
</body>