<!DOCTYPE html>
<html>
<head>
  <base href="..">
  <title>component.Dice Unit Tests</title>

  <link rel="import" href="testbase.html">

  <link rel="import" href="component/dice.html">
  <link rel="import" href="third_party/di.html">
  <link rel="import" href="service/config.html">
  <link rel="import" href="service/registry.html">
  <link rel="import" href="third_party/jquery.html">
</head>
<body>
  <div id="testholder"></div>
  <script>
  DI
      .prefix('pb')
      .with('$registry', { Registry: 'service.=' }, $i => new $i.Registry())
      .constant('doc', document.currentScript.ownerDocument)
      .run(
          {
            expect: '/=',
            $: '/=',
            _: '/=',
            doc: '=',
            $registry: '=',
            Chance: '/=',
            Config: 'service.=',
            Dice: 'component.='
          },
          $i => {

  describe('component.Dice', () => {
    before(done => {
      $i.$registry.register($i.doc, $i.Config);
      done();
    });

    describe('#createdCallback', () => {
      it('should correctly create a d4', () => {
        $i.$($i.doc.body.querySelector('#testholder'))
            .html('<pb-c-dice type="d4"></pb-c-dice>');
        let el = $i.doc.querySelector('#testholder pb-c-dice');

        $i.expect(el.children.length).to.be.equal(2);

        let child1 = el.children.item(0);
        $i.expect(child1.children.length).to.be.equal(2);
        $i.expect(child1.children.item(0).innerHTML).to.be.equal('1');
        $i.expect(child1.children.item(1).innerHTML).to.be.equal('4');

        let child2 = el.children.item(1);
        $i.expect(child2.children.length).to.be.equal(2);
        $i.expect(child2.children.item(0).innerHTML).to.be.equal('2');
        $i.expect(child2.children.item(1).innerHTML).to.be.equal('3');
      });
      it('should ignore unsupported type', () => {
        $i.$($i.doc.body.querySelector('#testholder'))
            .html('<pb-c-dice type="invalid"></pb-c-dice>');
        let el = $i.doc.querySelector('#testholder pb-c-dice');

        $i.expect(el.children.length).to.be.equal(0);
      });
      it('should pair up the custom children', () => {
        $i.$($i.doc.body.querySelector('#testholder'))
            .html(
                '<pb-c-dice>' +
                  '<div>1</div>' +
                  '<div>2</div>' +
                  '<div>3</div>' +
                  '<div>4</div>' +
                '</pb-c-dice>');
        let el = $i.doc.querySelector('#testholder pb-c-dice');

        $i.expect(el.children.length).to.be.equal(2);

        let child1 = el.children.item(0);
        $i.expect($i.$(child1).attr('pb-dice-pair')).to.not.be.undefined;
        $i.expect(child1.children.length).to.be.equal(2);
        $i.expect(child1.children.item(0).innerHTML).to.be.equal('1');
        $i.expect(child1.children.item(1).innerHTML).to.be.equal('4');

        let child2 = el.children.item(1);
        $i.expect($i.$(child2).attr('pb-dice-pair')).to.not.be.undefined;
        $i.expect(child2.children.length).to.be.equal(2);
        $i.expect(child2.children.item(0).innerHTML).to.be.equal('2');
        $i.expect(child2.children.item(1).innerHTML).to.be.equal('3');
      });
      it('should do nothing if the children are already paired', () => {
        $i.$($i.doc.body.querySelector('#testholder'))
            .html(
                '<pb-c-dice>' +
                  '<div pb-dice-pair>' +
                    '<div>1</div>' +
                    '<div>2</div>' +
                  '</div>' +
                  '<div pb-dice-pair>' +
                    '<div>3</div>' +
                    '<div>4</div>' +
                  '</div>' +
                '</pb-c-dice>');
        let el = $i.doc.querySelector('#testholder pb-c-dice');

        $i.expect(el.children.length).to.be.equal(2);

        let child1 = el.children.item(0);
        $i.expect(child1.children.length).to.be.equal(2);
        $i.expect(child1.children.item(0).innerHTML).to.be.equal('1');
        $i.expect(child1.children.item(1).innerHTML).to.be.equal('2');

        let child2 = el.children.item(1);
        $i.expect(child2.children.length).to.be.equal(2);
        $i.expect(child2.children.item(0).innerHTML).to.be.equal('3');
        $i.expect(child2.children.item(1).innerHTML).to.be.equal('4');
      });
    });

    describe('$Rollable', () => {
      let el;

      beforeEach(done => {
        el = $i.doc.createElement('div');
        done();
      });

      describe('#init', () => {
        it('should set the default enabled if not set', () => {
          let rollable = new $i.Dice.Rollable(undefined, undefined, true);
          rollable.init(el);

          $i.expect($i.$(el).attr(rollable.attrName)).to.be.equal('true');
        });
        it('should set the default show a if not set', () => {
          let rollable = new $i.Dice.Rollable(undefined, undefined, undefined, true);
          rollable.init(el);

          $i.expect($i.$(el).attr('show-side-a')).to.be.equal('true');
        });
        it('should not set any default values if they are set', () => {
          let rollable = new $i.Dice.Rollable();
          $i.$(el)
              .attr(rollable.attrName, 'false')
              .attr('show-side-a', 'false');
          rollable.init(el);

          $i.expect($i.$(el).attr(rollable.attrName)).to.be.equal('false');
          $i.expect($i.$(el).attr('show-side-a')).to.be.equal('false');
        });
      });

      describe('#trigger', () => {
        it('should set the show-side-a attribute value', () => {
          let rollable = new $i.Dice.Rollable();
          $i._.spy($i.Chance, 'bool').overrideReturn(false);

          $i.$(el).attr('show-side-a', 'true');
          rollable.init(el);
          rollable.trigger(el);
          $i.expect($i.$(el).attr('show-side-a')).to.be.equal('false');
        });
      });
    });

    describe('$DiceFlippable', () => {
      let el;
      beforeEach(done => {
        el = $i.doc.createElement('div');
        done();
      });

      describe('#init', () => {
        it('should set the default enabled if not set', () => {
          let flippable = new $i.Dice.DiceFlippable(undefined, undefined, true);
          flippable.init(el);

          $i.expect($i.$(el).attr(flippable.attrName)).to.be.equal('true');
        });
        it('should set the default show a if not set', () => {
          let flippable = new $i.Dice.DiceFlippable(undefined, undefined, undefined, true);
          flippable.init(el);

          $i.expect($i.$(el).attr('show-side-a')).to.be.equal('true');
        });
        it('should not set any default values if they are set', () => {
          let flippable = new $i.Dice.DiceFlippable();
          $i.$(el)
              .attr(flippable.attrName, 'false')
              .attr('show-side-a', 'false');
          flippable.init(el);

          $i.expect($i.$(el).attr(flippable.attrName)).to.be.equal('false');
          $i.expect($i.$(el).attr('show-side-a')).to.be.equal('false');
        });
      });

      describe('#trigger', () => {
        it('should flip the dice to the opposite side', () => {
          let flippable = new $i.Dice.DiceFlippable();
          $i.$(el)
              .attr(flippable.attrName, 'true')
              .attr('show-side-a', 'true');

          flippable.init(el);
          flippable.trigger(el);

          $i.expect($i.$(el).attr('show-side-a')).to.be.equal('false');
        });
      });
    });

    afterEach(done => {
      $i._.reset();
      done();
    });
  });
  });
  </script>
</body>
