<!DOCTYPE html>
<html>
<head>
  <base href="..">
  <title>component.Dice Unit Tests</title>

  <link rel="import" href="testbase.html">

  <link rel="import" href="component/dice.html">
  <link rel="import" href="third_party/di.html">
  <link rel="import" href="service/config.html">
  <link rel="import" href="service/registry.html">
  <link rel="import" href="third_party/jquery.html">
</head>
<body>
<div id="testholder"></div>
<script>
DIJS
.with('pb.$registry', require => new (require('pb.service.Registry'))())
.constant('doc', document.currentScript.ownerDocument)
.run(require => {

  const _ = require('_');
  const $ = require('$');
  const $registry = require('pb.$registry');

  const Chance = require('Chance');
  const Config = require('pb.service.Config');
  const Dice = require('pb.component.Dice');
  const doc = require('doc');
  const expect = require('expect');

  describe('component.Dice', () => {
    before(() => {
      $registry.register(doc, Config);
    });

    describe('#createdCallback', () => {
      it('should correctly create a d4', () => {
        $(doc.body.querySelector('#testholder'))
            .html('<pb-c-dice type="d4"></pb-c-dice>');
        let el = doc.querySelector('#testholder pb-c-dice');

        expect(el.children.length).to.be.equal(2);

        let child1 = el.children.item(0);
        expect(child1.children.length).to.be.equal(2);
        expect(child1.children.item(0).innerHTML).to.be.equal('1');
        expect(child1.children.item(1).innerHTML).to.be.equal('4');

        let child2 = el.children.item(1);
        expect(child2.children.length).to.be.equal(2);
        expect(child2.children.item(0).innerHTML).to.be.equal('2');
        expect(child2.children.item(1).innerHTML).to.be.equal('3');
      });
      it('should ignore unsupported type', () => {
        $(doc.body.querySelector('#testholder'))
            .html('<pb-c-dice type="invalid"></pb-c-dice>');
        let el = doc.querySelector('#testholder pb-c-dice');

        expect(el.children.length).to.be.equal(0);
      });
      it('should pair up the custom children', () => {
        $(doc.body.querySelector('#testholder'))
            .html(
                '<pb-c-dice>' +
                  '<div>1</div>' +
                  '<div>2</div>' +
                  '<div>3</div>' +
                  '<div>4</div>' +
                '</pb-c-dice>');
        let el = doc.querySelector('#testholder pb-c-dice');

        expect(el.children.length).to.be.equal(2);

        let child1 = el.children.item(0);
        expect($(child1).attr('pb-dice-pair')).to.not.be.undefined;
        expect(child1.children.length).to.be.equal(2);
        expect(child1.children.item(0).innerHTML).to.be.equal('1');
        expect(child1.children.item(1).innerHTML).to.be.equal('4');

        let child2 = el.children.item(1);
        expect($(child2).attr('pb-dice-pair')).to.not.be.undefined;
        expect(child2.children.length).to.be.equal(2);
        expect(child2.children.item(0).innerHTML).to.be.equal('2');
        expect(child2.children.item(1).innerHTML).to.be.equal('3');
      });
      it('should do nothing if the children are already paired', () => {
        $(doc.body.querySelector('#testholder'))
            .html(
                '<pb-c-dice>' +
                  '<div pb-dice-pair>' +
                    '<div>1</div>' +
                    '<div>2</div>' +
                  '</div>' +
                  '<div pb-dice-pair>' +
                    '<div>3</div>' +
                    '<div>4</div>' +
                  '</div>' +
                '</pb-c-dice>');
        let el = doc.querySelector('#testholder pb-c-dice');

        expect(el.children.length).to.be.equal(2);

        let child1 = el.children.item(0);
        expect(child1.children.length).to.be.equal(2);
        expect(child1.children.item(0).innerHTML).to.be.equal('1');
        expect(child1.children.item(1).innerHTML).to.be.equal('2');

        let child2 = el.children.item(1);
        expect(child2.children.length).to.be.equal(2);
        expect(child2.children.item(0).innerHTML).to.be.equal('3');
        expect(child2.children.item(1).innerHTML).to.be.equal('4');
      });
    });

    describe('$Rollable', () => {
      let el;

      beforeEach(() => {
        el = doc.createElement('div');
      });

      describe('#init', () => {
        it('should set the default enabled if not set', () => {
          let rollable = new Dice.Rollable(undefined, undefined, true);
          rollable.init(el);

          expect($(el).attr(rollable.attrName)).to.be.equal('true');
        });
        it('should set the default show a if not set', () => {
          let rollable = new Dice.Rollable(undefined, undefined, undefined, true);
          rollable.init(el);

          expect($(el).attr('show-side-a')).to.be.equal('true');
        });
        it('should not set any default values if they are set', () => {
          let rollable = new Dice.Rollable();
          $(el)
              .attr(rollable.attrName, 'false')
              .attr('show-side-a', 'false');
          rollable.init(el);

          expect($(el).attr(rollable.attrName)).to.be.equal('false');
          expect($(el).attr('show-side-a')).to.be.equal('false');
        });
      });

      describe('#trigger', () => {
        it('should set the show-side-a attribute value', () => {
          let rollable = new Dice.Rollable();
          _.spy(Chance, 'bool').overrideReturn(false);

          $(el).attr('show-side-a', 'true');
          rollable.init(el);
          rollable.trigger(el);
          expect($(el).attr('show-side-a')).to.be.equal('false');
        });
      });
    });

    describe('$DiceFlippable', () => {
      let el;
      beforeEach(() => {
        el = doc.createElement('div');
      });

      describe('#init', () => {
        it('should set the default enabled if not set', () => {
          let flippable = new Dice.DiceFlippable(undefined, undefined, true);
          flippable.init(el);

          expect($(el).attr(flippable.attrName)).to.be.equal('true');
        });
        it('should set the default show a if not set', () => {
          let flippable = new Dice.DiceFlippable(undefined, undefined, undefined, true);
          flippable.init(el);

          expect($(el).attr('show-side-a')).to.be.equal('true');
        });
        it('should not set any default values if they are set', () => {
          let flippable = new Dice.DiceFlippable();
          $(el)
              .attr(flippable.attrName, 'false')
              .attr('show-side-a', 'false');
          flippable.init(el);

          expect($(el).attr(flippable.attrName)).to.be.equal('false');
          expect($(el).attr('show-side-a')).to.be.equal('false');
        });
      });

      describe('#trigger', () => {
        it('should flip the dice to the opposite side', () => {
          let flippable = new Dice.DiceFlippable();
          $(el)
              .attr(flippable.attrName, 'true')
              .attr('show-side-a', 'true');

          flippable.init(el);
          flippable.trigger(el);

          expect($(el).attr('show-side-a')).to.be.equal('false');
        });
      });
    });

    afterEach(() => {
      _.reset();
    });
  });
});
</script>
</body>
