<!DOCTYPE html>
<html>
<head>
  <base href="..">
  <title>component.Token Unit Tests</title>

  <link rel="import" href="component/token.html">
  <link rel="import" href="testbase.html">
  <link rel="import" href="third_party/di.html">
</head>
<body>
  <script>
  DIJS
      .prefix('pb')
      .with('$registry', require => new (require('service.Registry'))())
      .run(require => {

    require('component.Token');

    describe('component.Token', () => {
      it('should not throw exception when injected', () => {});
    });
  });
  </script>
</body>
