@import url(http://fonts.googleapis.com/css?family=Roboto);

$font: 'Roboto', Helvetica, Arial, sans-serif;

$color-background: $color-lighter;
$color-background-dark: $color-light;
$color-border: $color-normal;
$color-shadow: $color-darker;
$color-highlight: $color-dark;

/* Borders */
@mixin region-border() {
  border: 1px solid $color-border;
}

@mixin card-border() {
  border-radius: 5px;
}

@mixin layer($level) {
  @if $level == 1 {
    -webkit-filter: drop-shadow(0px 2px 5px rgba($color-shadow, 1));
    z-index: 1;
  }

  @if $level == 2 {
    -webkit-filter: drop-shadow(0 4px 10px rgba($color-shadow, .8));
    z-index: 2;
  }

  @if $level == 3 {
    -webkit-filter: drop-shadow(0 6px 15px rgba($color-shadow, .8));
    z-index: 3;
  }

  @if $level == 4 {
    -webkit-filter: drop-shadow(0 8px 20px rgba($color-shadow, .9));
    z-index: 4;
  }

  @if $level == 5 {
    -webkit-filter: drop-shadow(0 10px 25px rgba($color-shadow, .8));
    z-index: 5;
  }
}

@mixin trbl-fit() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Sizes */
$component-height: 50px;
$component-width: 50px;

$card-height: 100px;
$card-width: 75px;

$transition-duration: .3s;


.pb-component::shadow #root {
  height: $component-height;
  width: $component-width;
}

.pb-card::shadow #root {
  @include card-border();
  height: $card-height;
  width: $card-width;
}

.pb-key:hover {
  outline: 6px dashed $color-highlight;
  outline-offset: -3px;
}

.pb-move {
  @include layer(1);
  opacity: 0.75;
  position: fixed;
  pointer-events: none;
}

.pb-move > * {
  position: absolute;
}

.pb-move > *:nth-child(2) {
  transform: rotateZ(-20deg);
}

.pb-move > *:nth-child(3) {
  transform: rotateZ(15deg);
}

.pb-move > *:nth-child(4) {
  transform: rotateZ(-35deg);
}

.pb-move > *:nth-child(5) {
  transform: rotateZ(40deg);
}
