/** http://paletton.com/#uid=1000u0k00lo01tG00pj01hu09dg */
$color-lighter: #c8c8c8;
$color-light: #a7a7a7;
$color-normal: #888888;
$color-dark: #666666;
$color-darker: #3f3f3f;

$color-font: #000000;
$color-font-highlight: #ffffff;
