/** http://paletton.com/#uid=1400u0kaVz84jP27qHbeJtFiHpX */
$color-lighter: #c9c8e2;
$color-light: #a7a7cf;
$color-normal: #8584ba;
$color-dark: #6664a5;
$color-darker: #4a4991;

$color-font: #000000;
$color-font-highlight: #ffffff;
