@import url(http://fonts.googleapis.com/css?family=Roboto);

$font: 'Roboto', Helvetica, Arial, sans-serif;

/** http://paletton.com/#uid=1400u0kaVz84jP27qHbeJtFiHpX */
$color-lighter: #C9C8E2;
$color-light: #A7A7CF;
$color-normal: #8584BA;
$color-dark: #6664A5;
$color-darker: #4A4991;

$color-background: $color-lighter;
$color-background-dark: $color-light;
$color-border: $color-normal;
$color-shadow: $color-darker;
$color-highlight: $color-dark;

/* Borders */
@mixin region-border() {
  border: 1px solid $color-border;
}

@mixin card-border() {
  border-radius: 5px;
}

@mixin layer($level) {
  @if $level == 1 {
    -webkit-filter: drop-shadow(0px 2px 5px rgba($color-shadow, 1));
    z-index: 1;
  }

  @if $level == 2 {
    -webkit-filter: drop-shadow(0 4px 10px rgba($color-shadow, .8));
    z-index: 2;
  }

  @if $level == 3 {
    -webkit-filter: drop-shadow(0 6px 15px rgba($color-shadow, .8));
    z-index: 3;
  }

  @if $level == 4 {
    -webkit-filter: drop-shadow(0 8px 20px rgba($color-shadow, .9));
    z-index: 4;
  }

  @if $level == 5 {
    -webkit-filter: drop-shadow(0 10px 25px rgba($color-shadow, .8));
    z-index: 5;
  }
}

/* Sizes */
$component-height: 50px;
$component-width: 50px;

$card-height: 100px;
$card-width: 75px;

$transition-duration: .3s;
