@import 'theme';

/** TODO: Add prefixes */
pb-c-card::shadow {
  #root {
    width: $card-width;
    height: $card-height;
    perspective: 800px;
    position: relative;
  }

  #container {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform $transition-duration;
  }
}

pb-c-card[flippable-active="true"]::shadow #container {
  transform: rotateY(180deg);
}

pb-c-card > div {
  @include card-border();
  backface-visibility: hidden;
  height: $card-height;
  width: $card-width;
}

pb-c-card > .pb-back {
  background-color: $color-background-dark;
  border: 1px solid $color-border;
  box-sizing: border-box;
}

pb-c-card > .pb-front {
  background-color: $color-background;
  position: absolute;
  transform: rotateY(180deg);
  border: 5px solid $color-border;
  box-sizing: border-box;
}


// TODO(gs): Fix these
pb-c-card[flippable-active="true"].pb-dragged {
  .pb-front {
    @include layer(1);
  }

  .pb-back {
    display: none;
  }
}

pb-c-card:not([flippable-active="true"]).pb-dragged {
  .pb-back {
    @include layer(1);
  }

  .pb-front {
    display: none;
  }
}

pb-c-card[tappable-active="true"] {
  transform: rotateZ(90deg);
}

pb-c-card[tappable="true"] {
  transition: transform $transition-duration;
}
