<base href="../..">

<link rel="import" href="out/ability/pickable.html">
<link rel="import" href="out/ability/toggleable.html">
<link rel="import" href="out/component/component.html">
<link rel="import" href="out/di.html">
<link rel="import" href="out/service/config.html">
<link rel="import" href="out/trigger/click.html">
<link rel="import" href="out/trigger/key.html">
<link rel="import" href="out/utils.html">

<link rel="stylesheet" type="text/css" href="out/component/card.css">

<template>
  <div id="root">
    <div id="container">
      <content select=".pb-front"></content>
      <content select=".pb-back"></content>
    </div>
  </div>
</template>

<script>
DI
    .constant('doc', document.currentScript.ownerDocument)
    .with('template', doc => doc.querySelector('template'))
    .bind('pb_component_Card', (
        Click,
        Component, 
        Config,
        Key,
        Pickable,
        Toggleable,
        Utils,
        doc,
        template,
        $registry) => {

  /**
   * A representation of a card. To use this, create a `pb-c-card` element with two child elements:
   * - One must have a `pb-front` class. This is the front face of the card.
   * - One must have a `pb-back` class. This is the back face of the card.
   *
   * By default, the card starts by showing its back. If you want to make it start by showing the 
   * front face, add `pb-showfront="true"` to the `pb-c-card`.
   *
   * ```html
   * <!-- Example: Create a card that starts by displaying its front side -->
   * <pb-c-card pb-showfront="true">
   *   <div class="pb-front">Front side</div>
   *   <div class="pb-back">Back side</div>
   * </pb-c-card>
   * ```
   *
   * Supported abilities:
   * - [[Rotateable|ability.Rotateable]]: Default disabled.
   * - [[Toggleable|ability.Toggleable]]: Default enabled on click.
   * 
   * @class component.Card
   * @extends component.Component
   */

  const EL_NAME = 'pb-c-card';

  class Card extends Component {

    /**
     * Called when the element is created
     *
     * @method createdCallback
     */
    createdCallback() {
      super.createdCallback();
      this.createShadowRoot()
          .appendChild(Utils.activateTemplate(template, doc));
      this.attachedCallback();
    }
  }

  Config.add(
      'pb-c-card',
      new Pickable('pickable', new Key('q'), true),
      new Toggleable('flippable', new Click(), true),
      new Toggleable('tappable', new Key('t'), true));

  $registry.add(EL_NAME, Card.prototype);

  return Card;

});
</script>
