<base href="../..">

<link rel="import" href="out/inject.html">
<link rel="import" href="out/pbelement.html">
<link rel="import" href="out/utils.html">

<script>
// TODO(gs): Inject the imports.
Inject.provide('pb_component_Component', (PbElement, Utils) => {

/**
 * Base class for all components.
 *
 * @class component.Component
 * @extends PbElement  
 */
export default class Component extends PbElement {

  /**
   * For testing only.
   * @class component.Component
   * @constructor
   */
  constructor() { }

  createdCallback() {
    super.createdCallback();
  }
}

return Component;

});

</script>