<base href="..">

<link rel="import" href="ability/helpable.html">
<link rel="import" href="ability/pickable.html">
<link rel="import" href="component/component.html">
<link rel="import" href="service/config.html">
<link rel="import" href="third_party/di.html">
<link rel="import" href="trigger/key.html">
<link rel="import" href="utils.html">

<template>
  <style>
    :host(:hover) > *,
    :host(:hover) > * {
      outline: 2px solid var(--color-accent);
      outline-offset: -2px;
    }
  </style>
  <div id="root">
    <content></content>
  </div>
</template>

<script>
DIJS
.constant('doc', document.currentScript.ownerDocument)
.with('template', require => {
  const doc = require('doc');
  return doc.querySelector('template');
})
.bind('pb.component.Token', require => {

  const $registry = require('pb.$registry');
  const Component = require('pb.component.Component');
  const Config = require('pb.service.Config');
  const doc = require('doc');
  const Helpable = require('pb.ability.Helpable');
  const Key = require('pb.trigger.Key');
  const Pickable = require('pb.ability.Pickable');
  const template = require('template');
  const Utils = require('pb.Utils');

  /**
   * A simple movable component with only one state. Examples of token:
   * - Chess piece
   * - Cubes
   * - Damage marker
   *
   * To use this, create a `pb-c-token` element with one child element. This child element will be
   * displayed as the token.
   *
   * ```html
   * <!-- Example: A square token -->
   * <pb-c-token>
   *   <div style="background: red; width: 50px; height: 50px;"></div>
   * <pb-c-token>
   * ```
   *
   * Supported abilities:
   * - {{#crossLink "ability.Pickable"}}pickable{{/crossLink}}
   *
   * @class component.Token
   * @extends component.Component
   */
  class Token extends Component {

    /**
     * Called when the element is created.
     *
     * @method createdCallback
     */
    createdCallback() {
      super.createdCallback();
      this.createShadowRoot().appendChild(Utils.activateTemplate(template, doc));
    }
  }

  /**
   * Node name of the token.
   * @property NODE_NAME
   * @type string
   * @final
   * @static
   */
  Token.NODE_NAME = 'pb-c-token';

  Config.add(
      Token.NODE_NAME,
      new Helpable('help'),
      new Pickable('pick', new Key('q'), true));

  $registry.add(Token.NODE_NAME, Token);

  return Token;
});
</script>
