<base href="../..">

<link rel="import" href="out/ability/abilities.html">
<link rel="import" href="out/ability/pickable.html">
<link rel="import" href="out/component/component.html">
<link rel="import" href="out/di.html">
<link rel="import" href="out/trigger/key.html">
<link rel="import" href="out/utils.html">

<link rel="stylesheet" type="text/css" href="out/component/token.css">

<template>
  <div id="root">
    <content></content>
  </div>
</template>

<script>
DI
    .constant('doc', document.currentScript.ownerDocument)
    .with('template', doc => doc.querySelector('template'))
    .bind('pb_component_Token', (
        $registry,
        Abilities, 
        Component, 
        Key,
        Pickable,
        Utils,
        doc,
        template) => {

  const EL_NAME = 'pb-c-token';

  /**
   * A simple movable component with only one state. Examples of token:
   * - Chess piece
   * - Cubes
   * - Damage marker
   *
   * To use this, create a `pb-c-token` element with one child element. This child element will be
   * displayed as the token.
   *
   * ```html
   * <!-- Example: A square token -->
   * <pb-c-token>
   *   <div style="background: red; width: 50px; height: 50px;"></div>
   * <pb-c-token>
   * ```
   *
   * Supported abilities:
   * - [[Draggable|ability.Draggable]]: Default enabled.
   *
   * @class component.Token
   * @extends component.Component
   */
  class Token extends Component {

    /**
     * Called when the element is created.
     *
     * @method createdCallback
     */
    createdCallback() {
      super.createdCallback();
      this.createShadowRoot().appendChild(Utils.activateTemplate(template, doc));
    }
  }

  Abilities.of(Token.prototype)
      .add(new Pickable('pickable', new Key('q'), true));

  $registry.add(EL_NAME, Token.prototype);

  return Token;
});
</script>