@import 'theme';

/** Table styles */
table {
  border-collapse: collapse;
}

td {
  border: 1px solid $color-normal;
  padding: 10px;
  vertical-align: top;
}

td:first-child {
  cursor: pointer;
}

td.collapse {
  background-color: $color-normal;
  color: white;
}

td.collapse ~ td {
  display: none;
}

td:nth-child(2), td:nth-child(4) {
  white-space: nowrap;
}

td:nth-child(2) > * {
  display: inline-block;
}

td:nth-child(2) {
  text-align: center;
}

td > * {
  white-space: initial;
}

thead {
  cursor: pointer;
}

thead td {
  background-color: $color-normal;
  color: $color-font-highlight;
  padding-left: 20px;
}

thead.collapse + tbody {
  display: none;
}

col.name {
  width: 200px;
}

col.example {
  width: 200px;
}